h1 {
  background-color: pink;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
}

p {
  background-color: skyblue;
  font-size: 16px;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
}